@media only screen and (max-width: 800px) {
	*{
		margin: 0px;
		padding: 0px;
		box-sizing: border-box;
	}
	
	#desktop{
		display: none;
	}
	
	nav{
		padding: 60px;
		display: flex;
		flex-direction: column;
		position: relative;
		border-radius: 0px 0px 0px 100px;
		background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
		z-index: -2;
	}



	#navLogoStripes{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}





	#navTitle{
		color: #FFF;
		text-align: center;
		font-family: Overpass SemiBold;
		font-size: 36px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: -1.08px;
		padding-top: 100px;
		padding-bottom: 20px;

	}


	#navText{
		color: #FFF;
		text-align: center;
		font-family: Overpass;
		font-size: 18px;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
		padding-top: 50px;
		padding-bottom: 50px;
	}




	#navButtons{
		display: flex;
		flex-direction: row;
		gap: 20px;
		justify-content: center;
		padding-bottom: 100px;

	}

	#leftButton{
		color: #FF505C;
		text-align: right;
		font-family: Ubuntu;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		border-radius: 28px;
		background: #FFF;
		padding: 10px;
	}

	#rightButton{
		color: #FFF;
		text-align: right;
		font-family: Ubuntu;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		border-radius: 28px;
		border: 1px solid #FFF;
		padding: 10px;
		
	}



	.raisedItems{
		position:relative;
		z-index: 3;
	}

	.backgroundSquare{
		z-index: -1;
		position: absolute;
		
		
	}


	#backgroundSquare1{
		
		transform: rotate(180deg);
		border-radius: 0px 0px 100px 0px;
		background: linear-gradient(722deg, #FF8F71 0%, #FF3E55 100%);
		bottom: 0px;
		right: 0px;
		padding: 50px;
		
		
		
	
	}

	#backgroundSquare2{

		
		transform: rotate(-22deg);
		border-radius: 370.383px;
		background: linear-gradient(50deg, #FF8F71 0%, #FF3E55 100%);
		bottom: 0px;
		left: -90px;
		padding: 170px;

	
	}

	#backgroundSquare3{

		transform: rotate(20deg);
		border-radius: 0px 0px 100px 0px;
		background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
		top: 0px;
		left: 20px;
		padding: 190px;
	

	}
	

	#midSection{
		
		display: flex;
		flex-direction: column;
		padding-top: 100px;
		padding-left: 20px;
		padding-right: 20px;
		position: relative;
		
	}

	#futureDesign{
		color: #1F3E5A;
		text-align: center;
		font-family: Overpass SemiBold;
		font-size: 28px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: -0.84px;
		padding-left: 50px;
		padding-right: 50px;
		padding-bottom: 40px;


	}


	#outerCircle{
		border-radius: 100px;
		border: 1px solid #2D2E40;
		opacity: 0.25px;
		padding: 80px;
	}

	#innerCircle{
		border-radius: 510px;
		border: 1px solid #2D2E40;
		opacity: 0.5px;
		padding: 60px;
	}


	#topSquare{
		padding-top: 80px;
		padding-left: 20px;
		padding-right: 20px;
		border: solid green;
	

		border-radius: 5px;
		background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
		box-shadow: 0px 20px 40px 0px rgba(108, 141, 228, 0.24);

	}

	#bottomSquare{
		padding-left: 30px;
		padding-right: 30px;

	}


	#extensibleTitle{
		color: #1F3E5A;
		text-align: center;
		font-family: Overpass SemiBold;
		font-size: 28px;
		font-style: normal;
		font-weight: 600;
		line-height: 32px;

		padding: 50px;
	}

	#extensibleText{
		color: #4C5862;
text-align: center;
font-family: Overpass;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 28px;
letter-spacing: 0.5px;
padding: 20px;
text-align: justify;
	}





	#robustTitle{
		color: #1F3E5A;
text-align: center;
font-family: Overpass SemiBold;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 32px;
padding: 50px;

	}


	#robustText{
		color: #4C5862;
text-align: center;
font-family: Overpass;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 28px;
letter-spacing: 0.5px;
padding: 50px;

	}


	#twoPhones{
		display: flex;
		flex-direction: row;
		

		padding: 30px;
		
	}

	#phoneOne{
		fill: #1D1D25;
		filter: drop-shadow(0px 20px 40px rgba(108, 141, 228, 0.24));
	}

	#phoneTwo{
		fill: #1D1D25;
filter: drop-shadow(0px 20px 40px rgba(108, 141, 228, 0.24));

	}

	#card{
		border-radius: 0px 100px;
background: linear-gradient(135deg, #2D2E40 0%, #3F4164 100%);

	}


#cardTitle{
padding: 30px;
	color: #FFF;
text-align: center;
font-family: Overpass SemiBold;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -1.2px;
}



#cardText{
	padding: 20px;
	text-align: justify;
	color: #FFF;
	text-align: center;
	font-family: Overpass;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 28px;
	letter-spacing: 0.5px;

}



#laptopScreen{
	padding: 20px;
}


#laptopKeyboard{
	border-radius: 3px 3px 0px 0px;
background: #52526F;
}


#freeOpenTitle{
	color: #1F3E5A;
text-align: center;
font-family: Overpass SemiBold;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 32px;
padding: 40px;

}

#freeOpenText{

	color: #4C5862;
text-align: center;
font-family: Overpass;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 28px;
letter-spacing: 0.5px;
padding: 20px;
text-align: justify;

}

#toolingTitle{
	color: #1F3E5A;
text-align: center;
font-family: Overpass SemiBold;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 32px;
padding: 40px;

}

#toolingText{
	color: #4C5862;
text-align: center;
font-family: Overpass;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 28px;
letter-spacing: 0.5px;
padding: 20px;
text-align: justify;

}


footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 0px 100px 0px 0px;
	background: #24242C;
	padding: 50px;
}

footer img{
	padding: 50px;


}


#footerLinkTitle{
	color: #FFF;
text-align: center;
font-family: Ubuntu;
font-size: 20px;
font-style: normal;
font-weight: bolder;
line-height: 33px;
padding: 40px;
text-transform: capitalize;
}


#footerLinkItems{
	color: #FFF;
text-align: center;
font-family: Ubuntu;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 33px;
padding: 10px;
text-transform: capitalize;
}





}
	
	
	
	/* desktop screens */
	
	
	@media only screen and (min-width: 800px) {
	
	
	
	
	
	*{
		margin: 0px;
		padding: 0px;
		box-sizing: border-box;
	}
	
	#desktop{
		display: block;
	}
	
	
	#mobile{
		display: none;
	}
	
	
	nav{
		padding: 20px;
		display: flex;
		flex-direction: column;
		position: relative;
		border-radius: 0px 0px 0px 100px;
		background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
		z-index: 1;
	}

	#navLogoStrips{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}



	/* #logo{
		margin: 200px;

	}


	#navStripes{
		width: 20px;
	} */

	#navProduct{
		display: flex;
		flex-direction: row;
		gap: 10px;
	}

	#navProduct span{
		color: #FFF;
		font-family: Ubuntu;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}


	#navSignUp{

	}

	#login{
		color: #FFF;
		text-align: right;
		font-family: Ubuntu;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}

	#signUp{
		color: #FF505C;
		text-align: right;
		font-family: Ubuntu;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		border-radius: 28px;
		background: #FFF;
		padding: 10px;
	}



	#navTitle{
		color: #FFF;
		text-align: center;
		font-family: Overpass SemiBold;
		font-size: 36px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: -1.08px;
		padding-top: 100px;
		padding-bottom: 20px;
	}

	#navText{
		color: #FFF;
		text-align: center;
		font-family: Overpass;
		font-size: 18px;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
		padding-top: 50px;
		padding-bottom: 50px;
	}




	#navButtons{
		display: flex;
		flex-direction: row;
		gap: 20px;
		justify-content: center;
		padding-bottom: 170px;

	}

	#leftButton{
		color: #FF505C;
		text-align: right;
		font-family: Ubuntu;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		border-radius: 28px;
		background: #FFF;
		padding: 10px;
	}

	#rightButton{
		color: #FFF;
		text-align: right;
		font-family: Ubuntu;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		border-radius: 28px;
		border: 1px solid #FFF;
		padding: 10px;
	}



	.raisedItems{
		z-index: 3;
	}

	.backgroundSquare{
		z-index: 2;
		position: absolute;
	}


	#backgroundSquare1{
		
		transform: rotate(22deg);
		border-radius: 0px 0px 100px 0px;
		background: linear-gradient(722deg, #FF8F71 0%, #FF3E55 100%);
		bottom: 0px;
		right: 10px;
		padding:30px;
		
		
		
	
	}

	#backgroundSquare2{

		
		transform: rotate(-22deg);
		border-radius: 393.383px;
		background: linear-gradient(50deg, #FF8F71 0%, #FF3E55 100%);
		top: 0px;

	
	}

	#backgroundSquare3{

		transform: rotate(-158deg);
		border-radius: 0px 0px 100px 0px;
		background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
		bottom: 100px;
	

	}


	#futureDesign{
		color: #1F3E5A;
		text-align: center;
		font-family: Overpass SemiBold;
		font-size: 28px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: -0.84px;
		padding-left: 50px;
		padding-right: 50px;

	}

	
	
	
	
	}
	