@media only screen and (max-width: 360px)  {
	*{
		margin: 0px;
		padding: 0px;
		box-sizing: border-box;
	}
	
	#desktop{
		display: none;
	}
	
	nav{
		padding: 60px;
		display: flex;
		flex-direction: column;
		position: relative;
		border-radius: 0px 0px 0px 100px;
		background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
		z-index: -2;
	}



	#navLogoStripes{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}





	#navTitle{
		color: #FFF;
		text-align: center;
		font-family: Overpass SemiBold;
		font-size: 36px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: -1.08px;
		padding-top: 100px;
		padding-bottom: 20px;

	}


	#navText{
		color: #FFF;
		text-align: center;
		font-family: Overpass;
		font-size: 18px;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
		padding-top: 50px;
		padding-bottom: 50px;
	}




	#navButtons{
		display: flex;
		flex-direction: row;
		gap: 20px;
		justify-content: center;
		padding-bottom: 100px;

	}

	#leftButton{
		color: #FF505C;
		text-align: right;
		font-family: Ubuntu;
		font-size: 10px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		border-radius: 28px;
		background: #FFF;
		padding: 10px;
	}

	#rightButton{
		color: #FFF;
		text-align: right;
		font-family: Ubuntu;
		font-size: 10px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		border-radius: 28px;
		border: 1px solid #FFF;
		padding: 10px;
		
	}



	.raisedItems{
		position:relative;
		z-index: 3;
	}

	.backgroundSquare{
		z-index: -1;
		position: absolute;
		
		
	}


	#backgroundSquare1{
		
		transform: rotate(180deg);
		border-radius: 0px 0px 100px 0px;
		background: linear-gradient(722deg, #FF8F71 0%, #FF3E55 100%);
		bottom: 0px;
		right: 0px;
		padding: 50px;
		
		
		
	
	}

	#backgroundSquare2{

		
		transform: rotate(-22deg);
		border-radius: 370.383px;
		background: linear-gradient(50deg, #FF8F71 0%, #FF3E55 100%);
		bottom: 0px;
		left: -90px;
		padding: 170px;

	
	}

	#backgroundSquare3{

		transform: rotate(20deg);
		border-radius: 0px 0px 100px 0px;
		background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
		top: 0px;
		left: 20px;
		padding: 120px;
	

	}
	

	#midSection{
		
		display: flex;
		flex-direction: column;
		padding-top: 100px;
		padding-left: 20px;
		padding-right: 20px;
		position: relative;
		
	}

	#futureDesign{
		color: #1F3E5A;
		text-align: center;
		font-family: Overpass SemiBold;
		font-size: 28px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: -0.84px;
		padding-left: 50px;
		padding-right: 50px;
		padding-bottom: 50px;


	}





#badge{



}



#outerCircle{
	border-radius: 70%;
	border: 1px solid #2D2E40;
	width: 260px;
	height: 260px;
	position: absolute;
	left: 23px;
		
	}

#innerCircle{
	border-radius: 510px;
	border: 1px solid #2D2E40;
	
	width: 230px;
	height: 230px;
	position: absolute;
	
	left: 35px;
	top:230px;
	
}


#topSquare{
	
	width: 240px;
	height: 60px;
	border-radius: 5px;
	background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
	box-shadow: 0px 20px 40px 0px rgba(108, 141, 228, 0.24);
	position: absolute;
	

	margin-top: 38px;
	margin-left: 13px;

}

#bottomSquare{
		margin-top: 90px;
		margin-left: 13px;
		position: absolute;
		width: 240px;
		height: 153.475px;
		background-color: #2D2E40;

	}


#smallTopSquare{

	width: 80px;
	height: 80px;
	position: absolute;
	margin-left: 30px;
	margin-top: 70px;
	background-color: white;

}

#bigTopSquare{
	width: 100px;
	height: 150px;
	position: absolute;
	
	margin-top: 60px;
	margin-left: 120px;
	background-color: white;

}


#topSmallCircle{
	height: 60px;
	width: 60px;
	border-radius: 100%;
	border: 2px solid;
	position: absolute;
	z-index: 5;

	margin-top: 79px;
	margin-left: 40px;
	background-color: black;
}



#curvyLine{
	width: 130px;
	position: absolute;
	margin-top: 100px;
	margin-left: 110px;

}





#extensibleTitle{
	color: #1F3E5A;
	text-align: center;
	font-family: Overpass SemiBold;
	font-size: 28px;
	font-style: normal;
	font-weight: 600;
	line-height: 32px;
	margin-top: 350px;
	
}


#extensibleText{
	color: #4C5862;
	text-align: center;
	font-family: Overpass;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 28px;
	letter-spacing: 0.5px;
	padding: 20px;
	text-align: justify;
	}





#robustTitle{
	color: #1F3E5A;
	text-align: center;
	font-family: Overpass SemiBold;
	font-size: 28px;
	font-style: normal;
	font-weight: 600;
	line-height: 32px;


	}


#robustText{
	color: #4C5862;
	text-align: center;
	font-family: Overpass;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 28px;
	letter-spacing: 0.5px;
	padding: 30px;

	}



#twoPhones{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 25px;
	gap: 10px;
	

	/* padding: 30px; */
	
}


#phoneOne{
	fill: #1D1D25;
	filter: drop-shadow(0px 20px 40px rgba(108, 141, 228, 0.24));
	left: 5px;
	position: absolute; 

	width: 120px;
	top: 10px;

}

#phoneTwo{
	fill: #1D1D25;
	filter: drop-shadow(0px 20px 40px rgba(108, 141, 228, 0.24));
	left: 60px;
	position: relative;
	
	width: 120px;

	}

#card{
	border-radius: 0px 100px;

	background: linear-gradient(135deg, #2D2E40 0%, #3F4164 100%);
	/* padding: 20px; */
	/* height: 600px; */
	overflow: hidden;
	padding: 20px;


}


#cardTitle{
	padding-top: 50px;
	padding-bottom: 30px;
	color: #FFF;
	text-align: center;
	font-family: Overpass SemiBold;
	font-size: 40px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: -1.2px;
	
}



#cardText{
	padding: 50px;
	padding-bottom: 90px;
	text-align: justify;
	color: #FFF;
	text-align: center;
	font-family: Overpass;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 28px;
	letter-spacing: 0.5px;

}


#laptop{
	display: flex;
	justify-content: center;
	align-items: center;
}

#laptopScreen{
	padding: 50px;
}


#laptopKeyboard{
	border-radius: 3px 3px 0px 0px;
background: #52526F;
}


#freeOpenTitle{
	color: #1F3E5A;
	text-align: center;
	font-family: Overpass SemiBold;
	font-size: 28px;
	font-style: normal;
	font-weight: 600;
	line-height: 32px;


}

#freeOpenText{

	color: #4C5862;
	text-align: center;
	font-family: Overpass;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 28px;
	letter-spacing: 0.5px;
	padding: 20px;
	text-align: justify;

}

#toolingTitle{
	color: #1F3E5A;
	text-align: center;
	font-family: Overpass SemiBold;
	font-size: 28px;
	font-style: normal;
	font-weight: 600;
	line-height: 32px;
	padding: 40px;

}

#toolingText{
	color: #4C5862;
	text-align: center;
	font-family: Overpass;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 28px;
	letter-spacing: 0.5px;
	padding: 30px;
	padding-bottom: 60px;
	text-align: justify;

}


footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 0px 100px 0px 0px;
	background: #24242C;
	padding: 30px;
}

#footerLogo{
	width: 100px;
	margin: auto;
	/* max-width: 200px;
	max-height: 200px; */

}


#footerLinkTitle{
	color: #FFF;
	text-align: center;
	font-family: Ubuntu;
	font-size: 20px;
	font-style: normal;
	font-weight: bolder;
	line-height: 33px;
	padding: 40px;
	text-transform: capitalize;
}


#footerLinkItems{
	color: #FFF;
	text-align: center;
	font-family: Ubuntu;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: 33px;
	/* padding: 10px; */
	text-transform: capitalize;
	}





}













@media only screen and (min-width: 360px) and (max-width: 800px) {
	*{
		margin: 0px;
		padding: 0px;
		box-sizing: border-box;
	}
	
	#desktop{
		display: none;
	}
	
	nav{
		padding: 60px;
		display: flex;
		flex-direction: column;
		position: relative;
		border-radius: 0px 0px 0px 100px;
		background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
		z-index: -2;
	}



	#navLogoStripes{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}





	#navTitle{
		color: #FFF;
		text-align: center;
		font-family: Overpass SemiBold;
		font-size: 36px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: -1.08px;
		padding-top: 100px;
		padding-bottom: 20px;

	}


	#navText{
		color: #FFF;
		text-align: center;
		font-family: Overpass;
		font-size: 18px;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
		padding-top: 50px;
		padding-bottom: 50px;
	}




	#navButtons{
		display: flex;
		flex-direction: row;
		gap: 20px;
		justify-content: center;
		padding-bottom: 100px;

	}

	#leftButton{
		color: #FF505C;
		text-align: right;
		font-family: Ubuntu;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		border-radius: 28px;
		background: #FFF;
		padding: 10px;
	}

	#rightButton{
		color: #FFF;
		text-align: right;
		font-family: Ubuntu;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		border-radius: 28px;
		border: 1px solid #FFF;
		padding: 10px;
		
	}



	.raisedItems{
		position:relative;
		z-index: 3;
	}

	.backgroundSquare{
		z-index: -1;
		position: absolute;
		
		
	}


	#backgroundSquare1{
		
		transform: rotate(180deg);
		border-radius: 0px 0px 100px 0px;
		background: linear-gradient(722deg, #FF8F71 0%, #FF3E55 100%);
		bottom: 0px;
		right: 0px;
		padding: 50px;
		
		
		
	
	}

	#backgroundSquare2{

		
		transform: rotate(-22deg);
		border-radius: 370.383px;
		background: linear-gradient(50deg, #FF8F71 0%, #FF3E55 100%);
		bottom: 0px;
		left: -90px;
		padding: 170px;

	
	}

	#backgroundSquare3{

		transform: rotate(20deg);
		border-radius: 0px 0px 100px 0px;
		background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
		top: 0px;
		left: 20px;
		padding: 140px;
	

	}
	

	#midSection{
		
		display: flex;
		flex-direction: column;
		padding-top: 100px;
		padding-left: 20px;
		padding-right: 20px;
		position: relative;
		
	}

	#futureDesign{
		color: #1F3E5A;
		text-align: center;
		font-family: Overpass SemiBold;
		font-size: 28px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: -0.84px;
		padding-left: 50px;
		padding-right: 50px;
		padding-bottom: 50px;


	}





#badge{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;



}



#outerCircle{
	border-radius: 70%;
	border: 1px solid #2D2E40;
	width: 300px;
	height: 300px;
	z-index: 1;
	/* position: absolute; */
	/* left: 50px; */
		
	}

#innerCircle{
	border-radius: 510px;
	border: 1px solid #2D2E40;
	z-index: 2;
	width: 250px;
	height: 250px;
	position: absolute;
 	
	/* left: 75px;
	top:210px;  */
	
}


#topSquare{
	
	width: 327px;
	height: 60px;
	border-radius: 5px;
	background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
	box-shadow: 0px 20px 40px 0px rgba(108, 141, 228, 0.24);
	z-index: 3;
	position: absolute;
	margin-bottom: 90px;
	margin-left: 10px;



}

#bottomSquare{
		margin-top: 60px;
		margin-left: 10px;
		position: absolute;
		width: 326px;
		height: 153.475px;
		z-index: 2;
		background-color: #2D2E40;


	}


#smallTopSquare{

	width: 80px;
	height: 80px;
	position: absolute;

	z-index: 5; 

	background-color: white;
	margin-right: 190px;

}

#bigTopSquare{
	width: 150px;
	height: 130px;
	position: absolute;
	z-index: 4;
	background-color: white;
	margin-left: 100px;

}


#topSmallCircle{
	height: 60px;
	width: 60px;
	border-radius: 100%;
	border: 2px solid;
	position: absolute;
	z-index: 5;
	background-color: black;
	margin-right: 190px;
}



#curvyLine{
	position: absolute;
	width: 170px;
	z-index: 5; 
	margin-left: 100px;


}





#extensibleTitle{
	color: #1F3E5A;
	text-align: center;
	font-family: Overpass SemiBold;
	font-size: 28px;
	font-style: normal;
	font-weight: 600;
	line-height: 32px;
	margin-top:90px;
	
}


#extensibleText{
	color: #4C5862;
	text-align: center;
	font-family: Overpass;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 28px;
	letter-spacing: 0.5px;
	padding: 20px;
	text-align: justify;
	}





#robustTitle{
	color: #1F3E5A;
	text-align: center;
	font-family: Overpass SemiBold;
	font-size: 28px;
	font-style: normal;
	font-weight: 600;
	line-height: 32px;


	}


#robustText{
	color: #4C5862;
	text-align: center;
	font-family: Overpass;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 28px;
	letter-spacing: 0.5px;
	padding: 30px;

	}


	#twoPhones{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		position: relative;
		padding: 15px;
		gap: 30px;
		

		/* padding: 30px; */
		
	}

#phoneOne{
	fill: #1D1D25;
	filter: drop-shadow(0px 20px 40px rgba(108, 141, 228, 0.24));
	
	position: absolute; 

	width: 150px;
	margin-top: 10px;
	margin-right: 200px;

}

#phoneTwo{
	fill: #1D1D25;
	filter: drop-shadow(0px 20px 40px rgba(108, 141, 228, 0.24));
	
	position: relative;
	width: 150px;
	margin-left: 200px;

	}

#card{
	border-radius: 0px 100px;

	background: linear-gradient(135deg, #2D2E40 0%, #3F4164 100%);
	/* padding: 20px; */
	/* height: 600px; */
	overflow: hidden;
	padding: 20px;


}


#cardTitle{
	padding-top: 50px;
	padding-bottom: 30px;
	color: #FFF;
	text-align: center;
	font-family: Overpass SemiBold;
	font-size: 40px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: -1.2px;
	
}



#cardText{
	padding: 50px;
	padding-bottom: 90px;
	text-align: justify;
	color: #FFF;
	text-align: center;
	font-family: Overpass;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 28px;
	letter-spacing: 0.5px;

}



#laptop{
	display: flex;
	justify-content: center;
	align-items: center;
}



#laptopScreen{
	padding: 50px;
}


#laptopKeyboard{
	border-radius: 3px 3px 0px 0px;
background: #52526F;
}


#freeOpenTitle{
	color: #1F3E5A;
	text-align: center;
	font-family: Overpass SemiBold;
	font-size: 28px;
	font-style: normal;
	font-weight: 600;
	line-height: 32px;


}

#freeOpenText{

	color: #4C5862;
	text-align: center;
	font-family: Overpass;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 28px;
	letter-spacing: 0.5px;
	padding: 40px;
	text-align: justify;

}

#toolingTitle{
	color: #1F3E5A;
	text-align: center;
	font-family: Overpass SemiBold;
	font-size: 28px;
	font-style: normal;
	font-weight: 600;
	line-height: 32px;
	padding: 40px;

}

#toolingText{
	color: #4C5862;
	text-align: center;
	font-family: Overpass;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 28px;
	letter-spacing: 0.5px;
	padding: 30px;
	padding-bottom: 60px;
	text-align: justify;

}


footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 0px 100px 0px 0px;
	background: #24242C;
	padding: 30px;
}

#footerLogo{
	width: 100px;
	margin: auto;
	/* max-width: 200px;
	max-height: 200px; */

}


#footerLinkTitle{
	color: #FFF;
	text-align: center;
	font-family: Ubuntu;
	font-size: 20px;
	font-style: normal;
	font-weight: bolder;
	line-height: 33px;
	padding: 40px;
	text-transform: capitalize;
}


#footerLinkItems{
	color: #FFF;
	text-align: center;
	font-family: Ubuntu;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: 33px;
	/* padding: 10px; */
	text-transform: capitalize;
	}





}
	
	







/* desktop screens */


@media only screen and (min-width: 800px) {





*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

#desktop{
display: block;
}


#mobile{
display: none;
}



nav{
padding: 40px;
display: flex;
flex-direction: column;
position: relative;
border-radius: 0px 0px 0px 100px;
background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
z-index: 1;

}

#navLogoStrips{
display: flex;
flex-direction: row;
justify-content: space-between;
/* padding: 20px; */
}





#navProduct{
display: flex;
flex-direction: row;
gap: 10px;
padding: 20px;
}

#navProduct span{
color: #FFF;
font-family: Ubuntu;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}


#navArrow{
padding-bottom: 5px;

}




#login{
color: #FFF;
text-align: right;
font-family: Ubuntu;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

#signUp{
color: #FF505C;
text-align: right;
font-family: Ubuntu;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
border-radius: 28px;
background-color: #FFF;
padding-top: 10px;
padding-left: 5px;
padding-right: 5px;


}



#navTitle{
color: #FFF;
text-align: center;
font-family: Overpass SemiBold;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -1.08px;
padding-top: 100px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 20px;
}

#navText{
color: #FFF;
text-align: center;
font-family: Overpass;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: normal;
padding-top: 50px;
padding-bottom: 50px;
}




#navButtons{
display: flex;
flex-direction: row;
gap: 20px;
justify-content: center;
padding-bottom: 100px;
padding-top: 2px;
padding-right: 50px;
padding-left: 50px;


}

#leftButton{
color: #FF505C;
text-align: right;
font-family: Ubuntu;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
border-radius: 28px;
background: #FFF;
padding: 10px;
}

#rightButton{
color: #FFF;
text-align: right;
font-family: Ubuntu;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
border-radius: 28px;
border: 1px solid #FFF;
padding: 10px;
}




.raisedItems{
position:relative;
z-index: 3;
}

.backgroundSquare{
z-index: -1;
position: absolute;


}


#backgroundSquare1{

transform: rotate(180deg);
border-radius: 0px 0px 100px 0px;
background: linear-gradient(722deg, #FF8F71 0%, #FF3E55 100%);
bottom: 0px;
right: 0px;
padding: 100px;




}

#backgroundSquare2{


transform: rotate(0deg);
border-radius: 600.383px; 
background: linear-gradient(10deg, #FF8F71 0%, #FF3E55 100%);
bottom: 0px;
left: 200px;
padding: 200px;



}

#backgroundSquare3{

transform: rotate(90deg);
border-radius: 0px 0px 100px 0px;
background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
top: 0px;
right: 0px;
padding: 90px;


}


#midSection{
display: flex;
flex-direction: column;
justify-content: center;
gap: 30px;

}



#futureDesign{
color: #1F3E5A;
text-align: center;
font-family: Overpass SemiBold;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -1.2px;
padding: 60px;

}


#splitContent{
display: flex;
flex-direction: row;	
position: relative;
gap: 20px;

}



#textContents{
display: flex;
flex-direction: column;
position: relative;
width: 700px;

}




#extensibleTitle{
color: #1F3E5A;
text-align: center;
font-family: Overpass SemiBold;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 32px;
padding-left: 50px;





}


#extensibleText{
color: #4C5862;
text-align: center;
font-family: Overpass;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 28px;
letter-spacing: 0.5px;
text-align: justify;
padding: 50px;



}





#robustTitle{
color: #1F3E5A;
text-align: center;
font-family: Overpass SemiBold;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 32px;
padding-left: 50px;





}


#robustText{
color: #4C5862;
text-align: center;
font-family: Overpass;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 28px;
letter-spacing: 0.5px;
padding: 50px;


}



#badge{

position: relative;
float: right;
width: 540px;



}



#outerCircle{
	border-top-left-radius: 440px;
    border-bottom-left-radius: 440px;
    border: 2px solid #eeeef6;
    border-right: 0;
    width: 310px;
    height: 570px;
    position: absolute;
	right: 0px;
	bottom: 40px;

}


#middleCircle{
	border-top-left-radius: 300px;
    border-bottom-left-radius: 300px;
    border: 2px solid #eeeef6;
    border-right: 0;
    width: 250px;
    height: 480px;
    position: absolute;
    bottom: 40px;
    right: 0px;
}




#innerCircle{
	border-top-left-radius: 260px;
	border-bottom-left-radius: 260px;
	background-color: #eeeef6;
	border: 5px solid #eeeef6;
	border-right: 0;
	width: 180px;
	height: 390px;
	position: absolute;	
	right: 0px;
	bottom: 30px;

}

#topSquare{

width: 326px;
height: 60px;
border-radius: 5px;
background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
box-shadow: 0px 20px 40px 0px rgba(108, 141, 228, 0.24);
position: absolute;

top: 70px;
right: 0px;

}

#bottomSquare{
position: absolute;
top: 130px;
right: 0px;

}


#smallTopSquare{

width: 80px;
height: 80px;
position: absolute;

top: 120px;
right: 200px;
background-color: white;

}

#bigTopSquare{
width: 150px;
height: 150px;
position: absolute;

top: 100px;
right: 30px;
background-color: white;

}


#topSmallCircle{
height: 60px;
width: 60px;
border-radius: 100%;
border: 2px solid;
position: absolute;
z-index: 5;
top: 130px;
right: 210px;
background-color: black;
}



#curvyLine{
position: absolute;

top: 150px;
right: 4px;
}



#phoneCard{

border-radius: 0px 100px;
background: linear-gradient(135deg, #2D2E40 0%, #3F4164 100%);
padding-top: 30px;
padding-left: 10px;
padding-right: 50px;
padding-bottom: 50px;
height: 260px;
position: relative;
z-index: 1;
margin-top: 50px;

}


#cardTitle{
color: #FFF;
font-family: Overpass SemiBold;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -1.2px;

padding-bottom: 20px;
padding-left: 500px;


}


#cardText{

color: #FFF;
font-family: Overpass;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 28px;
letter-spacing: 0.5px;
padding-left: 500px;
padding-right: 150px; 
padding-bottom: 20px;

}


#phones{
display:flex;
flex-direction: row;
position: absolute;
top: 0px;



}


#phoneOne{
padding-bottom: 10px;
position: absolute;
z-index: 2;
left: 20px;
width: 150px;

}


#phoneTwo{
padding-top: 10px;
position: absolute;
z-index: 2;
left: 200px;
width: 150px;

}




#bottomSection{
padding: 20px;
display: flex;
flex-direction: row;
justify-content: space-around;
gap: 40px;
}


#bottomSectionText{
display: flex;
flex-direction: column;
}

#freeOpenTitle{
color: #1F3E5A;
text-align: center;
font-family: Overpass SemiBold;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 32px;
padding: 40px;

}

#freeOpenText{

color: #4C5862;
text-align: center;
font-family: Overpass;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 28px;
letter-spacing: 0.5px;
padding: 20px;
text-align: justify;

}

#toolingTitle{
color: #1F3E5A;
text-align: center;
font-family: Overpass SemiBold;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 32px;
padding: 40px;

}

#toolingText{
color: #4C5862;
text-align: center;
font-family: Overpass;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 28px;
letter-spacing: 0.5px;
padding: 30px;
padding-bottom: 60px;
text-align: justify;

}




footer{
display: flex;
flex-direction: row;
justify-content: center;
border-radius: 0px 100px 0px 0px;
background: #24242C;
padding: 20px;

}

#footerLogo{
padding: 40px;
}


#footerLinkTitle{
color: #FFF;
text-align: center;
font-family: Ubuntu;
font-size: 20px;
font-style: normal;
font-weight: bolder;
line-height: 33px;
padding: 40px;
text-transform: capitalize;
}


#footerLinkItems{
color: #FFF;
text-align: center;
font-family: Ubuntu;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 33px;

text-transform: capitalize;
}




}

