@media only screen and (max-width: 390px)  {
	*{
		margin: 0px;
		padding: 0px;
		box-sizing: border-box;
	}
	
	#desktop{
		display: none;
	}
	
	nav{
		padding: 60px;
		display: flex;
		flex-direction: column;
		position: relative;
		border-radius: 0px 0px 0px 100px;
		background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
		z-index: -2;
	}



	#navLogoStripes{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}





	#navTitle{
		color: #FFF;
		text-align: center;
		font-family: Overpass SemiBold;
		font-size: 36px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: -1.08px;
		padding-top: 100px;
		padding-bottom: 20px;

	}


	#navText{
		color: #FFF;
		text-align: center;
		font-family: Overpass;
		font-size: 18px;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
		padding-top: 50px;
		padding-bottom: 50px;
	}




	#navButtons{
		display: flex;
		flex-direction: row;
		gap: 20px;
		justify-content: center;
		padding-bottom: 100px;

	}

	#leftButton{
		color: #FF505C;
		text-align: right;
		font-family: Ubuntu;
		font-size: 10px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		border-radius: 28px;
		background: #FFF;
		padding: 10px;
	}

	#rightButton{
		color: #FFF;
		text-align: right;
		font-family: Ubuntu;
		font-size: 10px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		border-radius: 28px;
		border: 1px solid #FFF;
		padding: 10px;
		
	}



	.raisedItems{
		position:relative;
		z-index: 3;
	}

	.backgroundSquare{
		z-index: -1;
		position: absolute;
		
		
	}


	#backgroundSquare1{
		
		transform: rotate(180deg);
		border-radius: 0px 0px 100px 0px;
		background: linear-gradient(722deg, #FF8F71 0%, #FF3E55 100%);
		bottom: 0px;
		right: 0px;
		padding: 50px;
		
		
		
	
	}

	#backgroundSquare2{

		
		transform: rotate(-22deg);
		border-radius: 370.383px;
		background: linear-gradient(50deg, #FF8F71 0%, #FF3E55 100%);
		bottom: 0px;
		left: -90px;
		padding: 170px;

	
	}

	#backgroundSquare3{

		transform: rotate(20deg);
		border-radius: 0px 0px 100px 0px;
		background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
		top: 0px;
		left: 20px;
		padding: 120px;
	

	}
	

	#midSection{
		
		display: flex;
		flex-direction: column;
		padding-top: 100px;
		padding-left: 20px;
		padding-right: 20px;
		position: relative;
		
	}

	#futureDesign{
		color: #1F3E5A;
		text-align: center;
		font-family: Overpass SemiBold;
		font-size: 28px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: -0.84px;
		padding-left: 50px;
		padding-right: 50px;
		padding-bottom: 50px;


	}





#badge{
	position: relative;
	width: 300px;


}



#outerCircle{
	border-radius: 70%;
	border: 1px solid #2D2E40;
	width: 260px;
	height: 260px;
	position: absolute;
	left: 23px;
		
	}

#innerCircle{
	border-radius: 510px;
	border: 1px solid #2D2E40;
	
	width: 230px;
	height: 230px;
	position: absolute;
	
	left: 40px;
	top:10px;
	
}


#topSquare{
	
	width: 240px;
	height: 60px;
	border-radius: 5px;
	background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
	box-shadow: 0px 20px 40px 0px rgba(108, 141, 228, 0.24);
	position: absolute;
	

	margin-top: 38px;
	margin-left: 34px;

}

#bottomSquare{
		margin-top: 90px;
		margin-left: 13px;
		position: absolute;
		width: 240px;
		height: 153.475px;
		background-color: #2D2E40;
		margin-left: 34px;

	}


#smallTopSquare{

	width: 80px;
	height: 80px;
	position: absolute;
	margin-left: 60px;
	margin-top: 70px;
	background-color: white;

}

#bigTopSquare{
	width: 100px;
	height: 150px;
	position: absolute;
	
	margin-top: 60px;
	margin-left: 160px;
	background-color: white;

}


#topSmallCircle{
	height: 60px;
	width: 60px;
	border-radius: 100%;
	border: 2px solid;
	position: absolute;
	z-index: 5;

	margin-top: 79px;
	margin-left: 70px;
	background-color: black;
}



#curvyLine{
	width: 130px;
	position: absolute;
	margin-top: 100px;
	margin-left: 150px;

}





#extensibleTitle{
	color: #1F3E5A;
	text-align: center;
	font-family: Overpass SemiBold;
	font-size: 28px;
	font-style: normal;
	font-weight: 600;
	line-height: 32px;
	margin-top: 350px;
	
}


#extensibleText{
	color: #4C5862;
	text-align: center;
	font-family: Overpass;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 28px;
	letter-spacing: 0.5px;
	padding: 20px;
	text-align: justify;
	}





#robustTitle{
	color: #1F3E5A;
	text-align: center;
	font-family: Overpass SemiBold;
	font-size: 28px;
	font-style: normal;
	font-weight: 600;
	line-height: 32px;


	}


#robustText{
	color: #4C5862;
	text-align: center;
	font-family: Overpass;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 28px;
	letter-spacing: 0.5px;
	padding: 30px;

	}



#twoPhones{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 25px;
	gap: 10px;
	

	/* padding: 30px; */
	
}


#phoneOne{
	fill: #1D1D25;
	filter: drop-shadow(0px 20px 40px rgba(108, 141, 228, 0.24));
	left: 5px;
	position: absolute; 

	width: 90px;
	top: 10px;

}

#phoneTwo{
	fill: #1D1D25;
	filter: drop-shadow(0px 20px 40px rgba(108, 141, 228, 0.24));
	left: 60px;
	position: relative;
	
	width: 90px;

	}

#card{
	border-radius: 0px 100px;

	background: linear-gradient(135deg, #2D2E40 0%, #3F4164 100%);
	/* padding: 20px; */
	/* height: 600px; */
	overflow: hidden;
	padding: 20px;


}


#cardTitle{
	padding-top: 50px;
	padding-bottom: 30px;
	color: #FFF;
	text-align: center;
	font-family: Overpass SemiBold;
	font-size: 40px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: -1.2px;
	
}



#cardText{
	padding: 50px;
	padding-bottom: 90px;
	text-align: justify;
	color: #FFF;
	text-align: center;
	font-family: Overpass;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 28px;
	letter-spacing: 0.5px;

}


#laptop{
	display: flex;
	justify-content: center;
	align-items: center;
}

#laptopScreen{
	padding: 50px;
}


#laptopKeyboard{
	border-radius: 3px 3px 0px 0px;
background: #52526F;
}


#freeOpenTitle{
	color: #1F3E5A;
	text-align: center;
	font-family: Overpass SemiBold;
	font-size: 28px;
	font-style: normal;
	font-weight: 600;
	line-height: 32px;


}

#freeOpenText{

	color: #4C5862;
	text-align: center;
	font-family: Overpass;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 28px;
	letter-spacing: 0.5px;
	padding: 20px;
	text-align: justify;

}

#toolingTitle{
	color: #1F3E5A;
	text-align: center;
	font-family: Overpass SemiBold;
	font-size: 28px;
	font-style: normal;
	font-weight: 600;
	line-height: 32px;
	padding: 40px;

}

#toolingText{
	color: #4C5862;
	text-align: center;
	font-family: Overpass;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 28px;
	letter-spacing: 0.5px;
	padding: 30px;
	padding-bottom: 60px;
	text-align: justify;

}


footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 0px 100px 0px 0px;
	background: #24242C;
	padding: 30px;
}

#footerLogo{
	width: 100px;
	margin: auto;
	/* max-width: 200px;
	max-height: 200px; */

}


#footerLinkTitle{
	color: #FFF;
	text-align: center;
	font-family: Ubuntu;
	font-size: 20px;
	font-style: normal;
	font-weight: bolder;
	line-height: 33px;
	padding: 40px;
	text-transform: capitalize;
}


#footerLinkItems{
	color: #FFF;
	text-align: center;
	font-family: Ubuntu;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: 33px;
	/* padding: 10px; */
	text-transform: capitalize;
	}





}













@media only screen and (min-width: 390px) and (max-width: 800px) {
	*{
		margin: 0px;
		padding: 0px;
		box-sizing: border-box;
	}
	
	#desktop{
		display: none;
	}
	
	nav{
		padding: 60px;
		display: flex;
		flex-direction: column;
		position: relative;
		border-radius: 0px 0px 0px 100px;
		background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
		z-index: -2;
	}



	#navLogoStripes{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}





	#navTitle{
		color: #FFF;
		text-align: center;
		font-family: Overpass SemiBold;
		font-size: 36px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: -1.08px;
		padding-top: 100px;
		padding-bottom: 20px;

	}


	#navText{
		color: #FFF;
		text-align: center;
		font-family: Overpass;
		font-size: 18px;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
		padding-top: 50px;
		padding-bottom: 50px;
	}




	#navButtons{
		display: flex;
		flex-direction: row;
		gap: 20px;
		justify-content: center;
		padding-bottom: 100px;

	}

	#leftButton{
		color: #FF505C;
		text-align: right;
		font-family: Ubuntu;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		border-radius: 28px;
		background: #FFF;
		padding: 10px;
	}

	#rightButton{
		color: #FFF;
		text-align: right;
		font-family: Ubuntu;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		border-radius: 28px;
		border: 1px solid #FFF;
		padding: 10px;
		
	}



	.raisedItems{
		position:relative;
		z-index: 3;
	}

	.backgroundSquare{
		z-index: -1;
		position: absolute;
		
		
	}


	#backgroundSquare1{
		
		transform: rotate(180deg);
		border-radius: 0px 0px 100px 0px;
		background: linear-gradient(722deg, #FF8F71 0%, #FF3E55 100%);
		bottom: 0px;
		right: 0px;
		padding: 50px;
		
		
		
	
	}

	#backgroundSquare2{

		
		transform: rotate(-22deg);
		border-radius: 370.383px;
		background: linear-gradient(50deg, #FF8F71 0%, #FF3E55 100%);
		bottom: 0px;
		left: -90px;
		padding: 170px;

	
	}

	#backgroundSquare3{

		transform: rotate(20deg);
		border-radius: 0px 0px 100px 0px;
		background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
		top: 0px;
		left: 20px;
		padding: 140px;
	

	}
	

	#midSection{
		
		display: flex;
		flex-direction: column;
		padding-top: 100px;
		padding-left: 20px;
		padding-right: 20px;
		position: relative;
		
	}

	#futureDesign{
		color: #1F3E5A;
		text-align: center;
		font-family: Overpass SemiBold;
		font-size: 28px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: -0.84px;
		padding-left: 50px;
		padding-right: 50px;
		padding-bottom: 50px;


	}





#badge{
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

}

#circles{
	width: 300px;
}





#extensibleTitle{
	color: #1F3E5A;
	text-align: center;
	font-family: Overpass SemiBold;
	font-size: 28px;
	font-style: normal;
	font-weight: 600;
	line-height: 32px;
	margin-top:90px;
	
}


#extensibleText{
	color: #4C5862;
	text-align: center;
	font-family: Overpass;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 28px;
	letter-spacing: 0.5px;
	padding: 20px;
	text-align: justify;
	}





#robustTitle{
	color: #1F3E5A;
	text-align: center;
	font-family: Overpass SemiBold;
	font-size: 28px;
	font-style: normal;
	font-weight: 600;
	line-height: 32px;


	}


#robustText{
	color: #4C5862;
	text-align: center;
	font-family: Overpass;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 28px;
	letter-spacing: 0.5px;
	padding: 30px;

	}


	#twoPhones{
		display: flex;
		flex-direction: row;

		position: relative;

		gap: 30px;
		z-index: 1;
		

		/* padding: 30px; */
		
	}

#phoneOne{
	fill: #1D1D25;
	filter: drop-shadow(0px 20px 40px rgba(108, 141, 228, 0.24));
	
	position: absolute; 

	padding: 200px;
	padding-top: 100px;
	z-index: 1;

}

#phoneTwo{
	fill: #1D1D25;
	filter: drop-shadow(0px 20px 40px rgba(108, 141, 228, 0.24));
	
	position: relative;
	padding: 20px;
	z-index: 1;

	}

#card{
	border-radius: 0px 100px;

	background: linear-gradient(135deg, #2D2E40 0%, #3F4164 100%);
	padding: 20px; 
	height: 500px;
	padding: 20px;


}


#cardTitle{
	padding-top: 50px;
	padding-bottom: 30px;
	color: #FFF;
	text-align: center;
	font-family: Overpass SemiBold;
	font-size: 17px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: -1.2px;
	
}



#cardText{
	padding: 50px;
	padding-bottom: 90px;
	text-align: justify;
	color: #FFF;
	text-align: center;
	font-family: Overpass;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 28px;
	letter-spacing: 0.5px;

}



#laptop{
	display: flex;
		justify-content: center;
		align-items: center;

	padding: 50px;
}





#laptopText{
	display: flex;
		justify-content: center;
		align-items: center;
	padding: 50px;

}


footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 0px 100px 0px 0px;
	background: #24242C;
	padding: 30px;
}

#footerLogo{
	width: 100px;
	margin: auto;
	/* max-width: 200px;
	max-height: 200px; */

}


#footerLinkTitle{
	color: #FFF;
	text-align: center;
	font-family: Ubuntu;
	font-size: 20px;
	font-style: normal;
	font-weight: bolder;
	line-height: 33px;
	padding: 40px;
	text-transform: capitalize;
}


#footerLinkItems{
	color: #FFF;
	text-align: center;
	font-family: Ubuntu;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: 33px;
	/* padding: 10px; */
	text-transform: capitalize;
	}





}
	
	






@media only screen and (min-width: 800px) and (max-width: 1000px) {



*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	}
	
	#desktop{
	display: block;
	}
	
	
	#mobile{
	display: none;
	}
	
	
	
	nav{
	padding: 30px;
	display: flex;
	flex-direction: column;
	position: relative;
	border-radius: 0px 0px 0px 100px;
	background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
	z-index: 1;
	
	}
	
	#navLogoStrips{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* padding: 20px; */
	}
	
	
	
	
	
	#navProduct{
	display: flex;
	flex-direction: row;
	gap: 10px;
	padding: 20px;
	}
	
	#navProduct span{
	color: #FFF;
	font-family: Ubuntu;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	}
	
	
	#navArrow{
	padding-bottom: 5px;
	
	}
	
	
	
	
	#login{
	color: #FFF;
	text-align: right;
	font-family: Ubuntu;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	}
	
	#signUp{
	color: #FF505C;
	text-align: right;
	font-family: Ubuntu;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	border-radius: 28px;
	background-color: #FFF;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	
	
	}
	
	
	
	#navTitle{
	color: #FFF;
	text-align: center;
	font-family: Overpass SemiBold;
	font-size: 36px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: -1.08px;
	padding-top: 100px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	}
	
	#navText{
	color: #FFF;
	text-align: center;
	font-family: Overpass;
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	padding-top: 50px;
	padding-bottom: 50px;
	}
	
	
	
	
	#navButtons{
	display: flex;
	flex-direction: row;
	gap: 20px;
	justify-content: center;
	padding-bottom: 100px;
	padding-top: 2px;
	padding-right: 50px;
	padding-left: 50px;
	
	
	}
	
	#leftButton{
	color: #FF505C;
	text-align: right;
	font-family: Ubuntu;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	border-radius: 28px;
	background: #FFF;
	padding: 10px;
	}
	
	#rightButton{
	color: #FFF;
	text-align: right;
	font-family: Ubuntu;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	border-radius: 28px;
	border: 1px solid #FFF;
	padding: 10px;
	}
	
	
	
	
	.raisedItems{
	position:relative;
	z-index: 3;
	}
	
	.backgroundSquare{
	z-index: -1;
	position: absolute;
	
	
	}
	
	
	#backgroundSquare1{
	
	transform: rotate(180deg);
	border-radius: 0px 0px 100px 0px;
	background: linear-gradient(722deg, #FF8F71 0%, #FF3E55 100%);
	bottom: 0px;
	right: 0px;
	padding: 80px;
	
	
	
	
	}
	
	#backgroundSquare2{
	
	
	transform: rotate(0deg);
	border-radius: 600.383px; 
	background: linear-gradient(10deg, #FF8F71 0%, #FF3E55 100%);
	bottom: 0px;
	left: 200px;
	padding: 200px;
	
	
	
	}
	
	#backgroundSquare3{
	
	transform: rotate(90deg);
	border-radius: 0px 0px 100px 0px;
	background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
	top: 0px;
	right: 0px;
	padding: 70px;
	
	
	}
	
	
	#midSection{
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 30px;
	
	}
	
	
	
	#futureDesign{
	color: #1F3E5A;
	text-align: center;
	font-family: Overpass SemiBold;
	font-size: 40px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: -1.2px;
	padding: 60px;
	
	}
	
	
	#splitContent{
	display: flex;
	flex-direction: row;	
	position: relative;
	gap: 20px;
	
	}
	
	
	
	#textContents{
	display: flex;
	flex-direction: column;
	position: relative;
	width: 600px;
	
	}
	
	
	
	
	#extensibleTitle{
	color: #1F3E5A;
	text-align: center;
	font-family: Overpass SemiBold;
	font-size: 28px;
	font-style: normal;
	font-weight: 600;
	line-height: 32px;
	padding: 30px;
	text-align: center;
	
	
	
	
	
	}
	
	
	#extensibleText{
	color: #4C5862;
	text-align: center;
	font-family: Overpass;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 28px;
	letter-spacing: 0.5px;
	text-align: justify;
	padding: 50px;
	
	
	
	}
	
	
	
	
	
	#robustTitle{
	color: #1F3E5A;
	text-align: center;
	font-family: Overpass SemiBold;
	font-size: 28px;
	font-style: normal;
	font-weight: 600;
	line-height: 32px;
	padding: 30px;
	
	
	
	
	
	}
	
	
	#robustText{
	color: #4C5862;
	text-align: center;
	font-family: Overpass;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 28px;
	letter-spacing: 0.5px;
	padding: 50px;
	
	
	}
	
	
	
#circles{
	position: absolute;
	right: 0px;
	top: 60px;
	width: 400px;
	height: 400px;
}



	
	#phoneCard{
	
	border-radius: 0px 100px;
	background: linear-gradient(135deg, #2D2E40 0%, #3F4164 100%);
	padding-top: 30px;
	padding-left: 10px;
	padding-right: 30px;
	padding-bottom: 50px;
	height: 260px;
	position: relative;
	z-index: 1;
	margin-top: 50px;
	
	}
	
	
	#cardTitle{
	color: #FFF;
	font-family: Overpass SemiBold;
	font-size: 40px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: -1.2px;
	
	padding-bottom: 20px;
	padding-left: 400px;
	
	
	}
	
	
	#cardText{
	
	color: #FFF;
	font-family: Overpass;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 28px;
	letter-spacing: 0.5px;
	padding-left: 250px;
	padding-right: 150px; 
	padding-bottom: 20px;
	
	}
	
	
	#phones{
	display:flex;
	flex-direction: row;
	position: absolute;
	top: 0px;
	
	
	
	}
	
	
	#phoneOne{
	padding-bottom: 10px;
	position: absolute;
	z-index: 2;
	left: 20px;
	width: 130px;
	
	}
	
	
	#phoneTwo{
	padding-top: 10px;
	position: absolute;
	z-index: 2;
	left: 200px;
	width: 130px;
	
	}
	
	
	


	
/* 	
	#bottomSection{
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	gap: 40px;
	}
	
	
	#bottomSectionText{
	display: flex;
	flex-direction: column;
	}
	
	#freeOpenTitle{
	color: #1F3E5A;
	text-align: center;
	font-family: Overpass SemiBold;
	font-size: 28px;
	font-style: normal;
	font-weight: 600;
	line-height: 32px;
	padding: 40px;
	
	}
	
	#freeOpenText{
	
	color: #4C5862;
	text-align: center;
	font-family: Overpass;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 28px;
	letter-spacing: 0.5px;
	padding: 20px;
	text-align: justify;
	
	}
	
	#toolingTitle{
	color: #1F3E5A;
	text-align: center;
	font-family: Overpass SemiBold;
	font-size: 28px;
	font-style: normal;
	font-weight: 600;
	line-height: 32px;
	padding: 40px;
	
	}
	
	#toolingText{
	color: #4C5862;
	text-align: center;
	font-family: Overpass;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 28px;
	letter-spacing: 0.5px;
	padding: 30px;
	padding-bottom: 60px;
	text-align: justify;
	
	}
	 */
	


	 #laptop{
		display: flex;
		
			justify-content: center;
			align-items: center;
		justify-content: center;
		align-items: center;
		width: 200px;
	}
	
	
	
	
	
	#laptopText{
		display: flex;
	
			justify-content: center;
			align-items: center;
		width: 400px;
		margin-bottom: 40px;
	
	}






	
	
	footer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-radius: 0px 100px 0px 0px;
	background: #24242C;
	padding: 20px;
	
	}
	
	#footerLogo{
	padding: 40px;
	}
	
	
	#footerLinkTitle{
	color: #FFF;
	text-align: center;
	font-family: Ubuntu;
	font-size: 20px;
	font-style: normal;
	font-weight: bolder;
	line-height: 33px;
	padding: 40px;
	text-transform: capitalize;
	}
	
	
	#footerLinkItems{
	color: #FFF;
	text-align: center;
	font-family: Ubuntu;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: 33px;
	
	text-transform: capitalize;
	}
	
	
	
	
	}
	


/* desktop screens */


@media only screen and (min-width: 1000px) {





*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

#desktop{
display: block;
}


#mobile{
display: none;
}



nav{
padding: 30px;
display: flex;
flex-direction: column;
position: relative;
border-radius: 0px 0px 0px 100px;
background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
z-index: 1;

}

#navLogoStrips{
display: flex;
flex-direction: row;
justify-content: space-between;
/* padding: 20px; */
}





#navProduct{
display: flex;
flex-direction: row;
gap: 10px;
padding: 20px;
}

#navProduct span{
color: #FFF;
font-family: Ubuntu;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}


#navArrow{
padding-bottom: 5px;

}




#login{
color: #FFF;
text-align: right;
font-family: Ubuntu;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

#signUp{
color: #FF505C;
text-align: right;
font-family: Ubuntu;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
border-radius: 28px;
background-color: #FFF;
padding-top: 10px;
padding-left: 5px;
padding-right: 5px;


}



#navTitle{
color: #FFF;
text-align: center;
font-family: Overpass SemiBold;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -1.08px;
padding-top: 100px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 20px;
}

#navText{
color: #FFF;
text-align: center;
font-family: Overpass;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: normal;
padding-top: 50px;
padding-bottom: 50px;
}




#navButtons{
display: flex;
flex-direction: row;
gap: 20px;
justify-content: center;
padding-bottom: 100px;
padding-top: 2px;
padding-right: 50px;
padding-left: 50px;


}

#leftButton{
color: #FF505C;
text-align: right;
font-family: Ubuntu;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
border-radius: 28px;
background: #FFF;
padding: 10px;
}

#rightButton{
color: #FFF;
text-align: right;
font-family: Ubuntu;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
border-radius: 28px;
border: 1px solid #FFF;
padding: 10px;
}




.raisedItems{
position:relative;
z-index: 3;
}

.backgroundSquare{
z-index: -1;
position: absolute;


}


#backgroundSquare1{

transform: rotate(180deg);
border-radius: 0px 0px 100px 0px;
background: linear-gradient(722deg, #FF8F71 0%, #FF3E55 100%);
bottom: 0px;
right: 0px;
padding: 80px;




}

#backgroundSquare2{


transform: rotate(0deg);
border-radius: 600.383px; 
background: linear-gradient(10deg, #FF8F71 0%, #FF3E55 100%);
bottom: 0px;
left: 200px;
padding: 200px;



}

#backgroundSquare3{

transform: rotate(90deg);
border-radius: 0px 0px 100px 0px;
background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
top: 0px;
right: 0px;
padding: 70px;


}


#midSection{
display: flex;
flex-direction: column;
justify-content: center;
gap: 30px;

}



#futureDesign{
color: #1F3E5A;
text-align: center;
font-family: Overpass SemiBold;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -1.2px;
padding: 60px;

}


#splitContent{
display: flex;
flex-direction: row;	
position: relative;
gap: 20px;

}



#textContents{
display: flex;
flex-direction: column;
position: relative;
width: 800px;

}




#extensibleTitle{
color: #1F3E5A;
text-align: center;
font-family: Overpass SemiBold;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 32px;
padding-left: 50px;
text-align: center;





}


#extensibleText{
color: #4C5862;
text-align: center;
font-family: Overpass;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 28px;
letter-spacing: 0.5px;
text-align: justify;
padding: 20px;



}





#robustTitle{
color: #1F3E5A;
text-align: center;
font-family: Overpass SemiBold;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 32px;
padding-left: 50px;





}


#robustText{
color: #4C5862;
text-align: center;
font-family: Overpass;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 28px;
letter-spacing: 0.5px;
padding: 50px;


}



#circles{
	position: absolute;
	width: 500px;
	height: 500px;
	right: 0px;
}


		
	




#phoneCard{

border-radius: 0px 100px;
background: linear-gradient(135deg, #2D2E40 0%, #3F4164 100%);
padding-top: 30px;
padding-left: 10px;
padding-right: 30px;
padding-bottom: 50px;
height: 260px;
position: relative;
z-index: 1;
margin-top: 50px;

}


#cardTitle{
color: #FFF;
font-family: Overpass SemiBold;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -1.2px;

padding-bottom: 20px;
padding-left: 400px;


}


#cardText{

color: #FFF;
font-family: Overpass;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 28px;
letter-spacing: 0.5px;
padding-left: 400px;
padding-right: 150px; 
padding-bottom: 20px;

}


#phones{
display:flex;
flex-direction: row;
position: absolute;
top: 0px;



}


#phoneOne{
padding-bottom: 10px;
position: absolute;
z-index: 2;
left: 20px;
width: 150px;

}


#phoneTwo{
padding-top: 10px;
position: absolute;
z-index: 2;
left: 200px;
width: 150px;

}


#bottomSection{

	position: relative;
}



#laptopSection{
	width: auto;
	height: 650px;
}

/* 
#bottomSection{
padding: 20px;
display: flex;
flex-direction: row;
justify-content: space-around;
gap: 40px;
}


#bottomSectionText{
display: flex;
flex-direction: column;
}

#freeOpenTitle{
color: #1F3E5A;
text-align: center;
font-family: Overpass SemiBold;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 32px;
padding: 40px;

}

#freeOpenText{

color: #4C5862;
text-align: center;
font-family: Overpass;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 28px;
letter-spacing: 0.5px;
padding: 20px;
text-align: justify;

}

#toolingTitle{
color: #1F3E5A;
text-align: center;
font-family: Overpass SemiBold;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 32px;
padding: 40px;

}

#toolingText{
color: #4C5862;
text-align: center;
font-family: Overpass;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 28px;
letter-spacing: 0.5px;
padding: 30px;
padding-bottom: 60px;
text-align: justify;

} */




footer{
display: flex;
flex-direction: row;
justify-content: center;
border-radius: 0px 100px 0px 0px;
background: #24242C;
padding: 20px;

}

#footerLogo{
padding: 40px;
}


#footerLinkTitle{
color: #FFF;
text-align: center;
font-family: Ubuntu;
font-size: 20px;
font-style: normal;
font-weight: bolder;
line-height: 33px;
padding: 40px;
text-transform: capitalize;
}


#footerLinkItems{
color: #FFF;
text-align: center;
font-family: Ubuntu;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 33px;

text-transform: capitalize;
}




}

